.main {
    background-image:$background-image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    
    .logounico {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: rgba(0, 0, 0, .4);
    
        .tamaño {
            width: 60%;
        }
}
}

