@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&family=Dosis:wght@200&family=Raleway:ital,wght@0,300;1,700&display=swap');
$fontCairo: 'Cairo', sans-serif;
$fontDosis: 'Dosis', sans-serif;
$fontraleway: 'Raleway', sans-serif;
$background-image:url(../imagenes/Automatización.jpg)